In [15]:
"""
Q1. Create one variable containing following type of data: 
(i) string
(ii) list
(iii) float
(iv) tuple
"""
#Ans:
v_string = "I am a string"
print(type(v_string))

v_list = ["akhilesh", 1990, ["a","b","c"], 2.90]
print(type(v_list))

v_float = 2.90
print(type(v_float))

v_tuple = ("akhilesh", 1990, ["a","b","c"], 2.90)
print(type(v_tuple))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [49]:
"""
Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.
"""
#Ans:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

"""Ans- Variable var1 and var are string, var3 is a list and var4 is an integer"""

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

'Ans- Variable var1 and var are string, var3 is a list and var4 is an integer'

In [1]:
"""
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **
"""

#Ans
# Operator / is used to divide. Output will be floating point number

print(5/2)

# Operator % is used for getting remainder 

print(5%3)

# Operator // is used to divide but output will be rounded down to integer

print(11//3)

# Operaotr ** is used to get power of first number to second
print(2**3)

2.5
2
3
8

In [2]:
"""
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type."""
#Ans:
my_list = [1 , "two", 3.0, 4, "five", 6.0, 7, "eight", 9.0, 10]
for i in my_list:
    print(str(i) + " : " + str(type(i)))

1 : <class 'int'>
two : <class 'str'>
3.0 : <class 'float'>
4 : <class 'int'>
five : <class 'str'>
6.0 : <class 'float'>
7 : <class 'int'>
eight : <class 'str'>
9.0 : <class 'float'>
10 : <class 'int'>

In [5]:
"""
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
"""
#Ans:
a = 1
while a < 10:
    if a % 2 == 0:
        print(a/2)
    else:
        print(str(a) + " is not purely divisible by 2")
    a+=1

1 is not purely divisible by 2
1.0
3 is not purely divisible by 2
2.0
5 is not purely divisible by 2
3.0
7 is not purely divisible by 2
4.0
9 is not purely divisible by 2

In [14]:
"""
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.
"""
#Ans:
my_list = list(range(1,26))
for i in my_list:
    if i%3 == 0:
        print(str(i) + " is purely divisible by 3: Result - " + str(int(i/3)))
    else:
        print(str(i) + " is not purely divisible by 3")

1 is not purely divisible by 3
2 is not purely divisible by 3
3 is purely divisible by 3: Result - 1
4 is not purely divisible by 3
5 is not purely divisible by 3
6 is purely divisible by 3: Result - 2
7 is not purely divisible by 3
8 is not purely divisible by 3
9 is purely divisible by 3: Result - 3
10 is not purely divisible by 3
11 is not purely divisible by 3
12 is purely divisible by 3: Result - 4
13 is not purely divisible by 3
14 is not purely divisible by 3
15 is purely divisible by 3: Result - 5
16 is not purely divisible by 3
17 is not purely divisible by 3
18 is purely divisible by 3: Result - 6
19 is not purely divisible by 3
20 is not purely divisible by 3
21 is purely divisible by 3: Result - 7
22 is not purely divisible by 3
23 is not purely divisible by 3
24 is purely divisible by 3: Result - 8
25 is not purely divisible by 3

In [22]:
"""
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
"""
#Ans:
#Mutable data types are the data types where values of a variabke with that data type can be changed without changing its location/without reassigning value to variable. e.g.

my_list = [3, 5, 6,7]
my_list[1] = 8
print(my_list)
# list values are changed as list is a mutable data type

#On the other hand immutable data type are the data types where values of a variable with that data type can not be changed without changing its location/without reassigning value to variable. e.g.

my_string = "Akhilesh"
print(my_string[2])
my_string[2]  =b

# this will throw error as string is immutable data type

[3, 8, 6, 7]
h

NameError: name 'b' is not defined